*{
    box-sizing: border-box;
}
html, body{
    overflow: hidden;
}
body{
    background-color: #323975;
    touch-action: manipulation;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1em;
}

.fa-snowflake{
    color: #fff;
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
    font-size: 16px;
    pointer-events: none;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}

@media only screen and (max-device-width: 415px){
    .fa-snowflake{
        font-size: 35px;
    }
}
@media only screen and (max-device-width: 415px) and (display-mode: fullscreen){
    .fa-snowflake{
        font-size: 15px;
    }
}